* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'LeagueSpartan-Regular', sans-serif;
	background: #0C0D2E;
	color: #fff;
}

.container {
	margin: 0 auto;
	max-width: 1267.22px;
	width: 100%;
	height: 100%;
	padding: 0 15px;
}
